footer {
    width: 100%;
    padding: 80px 20px;
    background-color: var(--white);
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid #eee;
}

footer p {
    font-family: monospace;
    margin: 0;
    letter-spacing: 0.05em;
}

.footer-email {
    font-size: 1rem;
    color: var(--black);
    text-transform: lowercase;
    margin-bottom: 15px;
}

.footer-copy {
    font-size: 0.7rem;
    color: var(--text-sub-light);
    text-transform: uppercase;
}
