<div class="contact-info">
  <p>Service Area: Charlottesville, Ruckersville, Zion Crossroads</p>
  <p>Phone: <a href="tel:+14345661023">434-566-1023</a></p>
  <p>Email: <a href="mailto:chielo@thesquarerepair.com">chielo@thesquarerepair.com</a></p>
  <p>
    <a href="https://www.facebook.com/thesquarerepair" rel="me" target="_blank">Facebook</a> ·
    <a href="https://nextdoor.com/page/the-square-repair-handyman-service-charlottesville-va/" rel="me" target="_blank">Nextdoor</a> ·
    <a href="https://share.google/HS4iKp4kJcwoP9PJd" rel="me" target="_blank">Google Business</a>
  </p>
  <p> © 2026 Chielo Zimmerman LLC DBA The Square Repair Handyman Service.</p>
</div>

<div class="review-container">
  <div class="review-container-content">
    <span class="review-label"> Read Google Reviews</span>
    <div class="google-review-badge">
      <div class="elfsight-app-1a00c231-7c7b-402e-a62e-54b1b72aee42" data-elfsight-app-lazy></div>
    </div>
  </div>
  <div class="attribution">
    <p>
      Review widget provided<br> by
      <a href="https://elfsight.com" target="_blank" rel="noopener noreferrer">elfsight.com</a>
    </p>
  </div>
</div>
